<li>
	{{burger_name}}

	<button class="change-eaten" data-id="{{id}}" data-neweaten="{{eaten}}">
		{{#if eaten}}HUNGRY{{else}}ALREADY EATEN{{/if}}
	</button>

	<button class="delete-burger" data-id="{{id}}">DELETE!</button>
</li>